<div class="jumbotron">
    <h1>Vehicle Tracking API</h1>
    <p class="lead">To read documentation and manual of API click on Download Button.</p>
    <p><a href="" class="btn btn-primary btn-lg">Download</a></p>
</div>

